html, body {
    width: 100%;
    height: 100%;
}

#panorama {
    height: 80%;
    width: 80%;
}


.pnlm-load-box {
    background-color: rgb(65, 63, 63); 
    color: #000;
    border-radius: 15%;
}

.pnlm-box {
    border-radius: 15%;

}
.pnlm-lbar {border: rgb(0, 255, 94) 1px solid;}
.pnlm-lbar-fill {background: rgb(4, 185, 58);}

.pnlm-load-button {
    border-radius: 15%;
}

.files,
.files:hover,
.files:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  padding: 5px;
  border: 2px solid rgb(42, 42, 42);
  position: relative;
  left: 30%;
  top: 10%;

}

